@using Microsoft.AspNetCore.Identity

@inject SignInManager<ChushkaUser> SignInManager
@inject UserManager<ChushkaUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-controller="Home" asp-action="Index">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Logout">Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}