@model IEnumerable<Eventures.Web.Models.OrderListingViewModel>
@{
    int i = 0;
}

<h1 class="text-center">All Orders</h1>
<hr class="eventures-bg-color hr-2 w-75" />
<table class="table w-75 mx-auto table-hover border-top-0">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Event</th>
        <th scope="col">Customer</th>
        <th scope="col">Ordered On</th>
    </tr>
    </thead>
    <tbody>

    @foreach(var m in @Model)
    {
        <tr>
            <th scope="row">@(i ++)</th>
            <td>@m.Event.Name</td>
            <td>@m.UserName</td>
            <td>@m.OrderedOn</td>
        </tr>
    }
    </tbody>
</table>
<hr class="eventures-bg-color hr-2 w-75" />

